body {
	margin: 0 auto;
	padding: 1%;
	background-color: #eeeeee;
}

a:link {
	color: #1111cc;
	text-decoration: none;
}

a:visited {
	color: #1111cc;
	text-decoration: none;
}

a:hover {
	color: #5555ff;
	text-decoration: underline;
}

a:active {
	color: #9999ff;
}

.error {
	color: red;
}

.alert {
	font-weight: bold;
	font-size: 90%;
}

.input-form {
	max-width: 80%;
	padding: 0.5% 1%;
	border: 1px solid rgba(80, 80, 80, 0.8);
	box-shadow: 1px 1px 1px 1px rgba(80, 80, 80, 0.6);
	border-radius: 5px;
}

.command {
	display: inline-block;
	margin-right: 1em;
}

.info-oneset {
	margin: 1% 0;
	width: 75%;
}

.info-name {
	width: 21%;
	display: inline-block;
}

.info-value {
	display: inline-block;
	margin: auto 0;
	border-radius: 3px;
}

.main {
	max-width: 80%;
	padding: 0.5% 1%;
	border: 1px solid rgba(80, 80, 80, 0.8);
	box-shadow: 1px 1px 1px 1px rgba(80, 80, 80, 0.6);
	border-radius: 5px;
	list-style: none;
}

.main-oneset {
	margin: 1% 0;
	width: 80%;	
}

.main-name {
	width: 20%;
	display: inline-block;
}

.main-value {
	display: inline-block;
}

